<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>TaskMaster5000</title>
</head>

<body>
  <div>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class=" ">
          <li><a href="/" class="brand-logo left">TaskMaster5000</a></li>
          <li class="right">
            <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
            <% } %>
            </li>
      </div>
    </nav>


    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right ">
          <% if(user) { %>
          <li><a class = "left"> <%= group.name %> </a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/tasks/mytasks">My Tasks</a></li>
          <li><a href="/tasks/new/<%= group._id %>">Add Task</a></li>
          <li><a href="/users/show/<%=user._id%>">My Info</a></li>
          <% }; %>
        </ul>
      </div>
    </nav>
  </div>
